<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="border-bottom border-gray pb-2 mb-0">
        {{#if success}}
        Найдено позиций - {{count}}
        {{else}}
Ничего не найдено
        {{/if}}
    </h3>
    {{#each results}}
    <a href="{{url}}" class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
                {{#with group_code}}
       Новость - 
    {{/with}}
            {{title}}
        </strong>
        {{description}}
        </p>
    </a>
    {{/each}}
    
    
  </div>