<ul class="nav flex-column">
  {{#each menu}}
  <li class="nav-item">
    {{#if active}}
    <span class="nav-link active">{{title}}</span>
    {{else}}
    <a class="nav-link" href="{{url}}">{{title}}</a>
    {{/if}}
  </li>
  {{/each}}
  
{{#if session}}
  <li class="nav-item">
    <a class="nav-link" href="/users/logout">Выйти</a>
  </li>
{{else}}
  <li class="nav-item">
    <a class="nav-link" href="/users/login">Войти</a>
  </li>
{{/if}}
  
</ul>
